input:hover{
  border-color:red;
}
input:focus{
  background-color: gray;
}
ul li:nth-child(even){
  background-color: red;
}
body{
  padding: 0;
  margin:0;
  font-family: "Arial";
}
header{
  background-color: #555;
  color: #fff;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 1;
}
header, section, footer{
  border:1px solid #ccc;
  padding: 20px;
}
article{
  border:2px solid blue;
}
p span{
  font-size: 50px;
}
section{
  overflow: hidden;
  max-width: 80%;
  /* min-width: 500px; */
  width: 950px;
  margin: 70px auto;
  position: relative;
}
div{
  border: 2px solid red;
  width: 20%;
  min-width: 150px;
  padding: 20px 100px;
  margin: 2.5%;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

/* :hover - passar o mouse */
/* :focus - ao clicar no item */
/* :nth-child(even) - numeros pares */
/* :nth-child(odd) - numeros impares */
